<template lang="pug">
   div 
    div(:class="num == 1 ? 'info' : 'a'") {{num}} 变色演示
    div
     button(@click="add") 点我变色
    br 
    div 循环显示(点击变色) 
     div(v-for="(d,index) in list" :key="d.name" @click="addinfo(d,index)") 
       div(:class="{omfp:numinfo == index}") {{d.name}}
    br
    |
    div 函数的颜色
     div(v-for="(d,index) in liatinf" :key="d.name")
      div {{ hanshu(d.name) }}  
    div(@click="addshowifoa") 点击组件
    Zu(v-model="show")   
</template>
<script>
import Zu from './zu.vue';
export default {
  name: 'App',
  components: {
    Zu
  },
  data() {
    return {
      show: false,
      liatinf: [{ name: 0 }, { name: 1 }],
      numinfo: 0,
      list: [{ name: 'asd' }, { name: 'asdada' }],
      num: 1
    };
  },
  methods: {
    addshowifoa() {
      this.show = true;
    },
    hanshu(value) {
      let info = ['xxx', '去阿扎你佛'];
      return info[value];
    },
    add() {
      this.num = 2;
    },
    addinfo(d, index) {
      this.numinfo = index;
      console.log(d, index);
    }
  }
};
</script>
<style scoped>
.omfp {
  color: red;
}
.info {
  color: red;
}
.a {
  color: yellow;
}
</style>
