<template lang="pug">
   div
    div(v-if="show") 
      div asdasdad
      div
       button(@click="addput") 关闭
</template>
<script>
export default {
  name: 'App',
  // 如果说需要发送接口请求就直接写监听就好
  props: {
    show: Boolean
  },
  model: {
    prop: 'show',
    event: 'addshow'
  },
  data() {
    return {};
  },
  methods: {
    addput() {
      this.$emit('addshow', false);
    }
  }
};
</script>
<style scoped></style>
